/* Shared styles */
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

/* Nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.primary {
  color: #fd6e0a;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png),url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right,top left;
}
.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 800px;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  margin-bottom: 30px;
}
#banner-btn {
  margin-left: 20px;
}
/* main section style */
main {
  width: 1140px;
  margin: 0px auto;
}
main section {
  margin-top: 130px;
}
/* about section style */
.about {
  padding: 131px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.info-descrioption {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
/* sklill related style */
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
#what-i-do {
  padding: 0px 131px;
}
/* resume section style */
.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
.resume-part-inst {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
}
.rasume-part-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-container hr {
  margin: 30px;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}
/* footer style */
footer {
  display: flex;
  background: #fff8f3;
  padding: 130px 200px;
  margin-top: 100px;
  gap: 100px;
}
.footer-item {
  width: 50%;
}
.social-link a{
    margin-right: 25px;
     
}
.contact input[type="text"],.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: none;
  width: 100%;
}
